<h1>Order summary:</h1>
<ul>
   <li>Name: {{name}}</li>
   <li>Address: {{address}}</li>
   <li>Size: {{diameter}} inch</li>
   {{#if toppings}}
   <li>Toppings: {{toppings}}</li>
   {{/if}}
   <li>Pickup or Delivery: {{delivery}}</li>
   <li>Price: {{price}}</li>
</ul>